td.class_location {
	text-align: center; line-height: 110%; font-family: Tahoma, Verdana; font-size: 11px;
}
td.terms_conditions_header {
	text-align: center; line-height: 100%; font-family: Tahoma; font-size: 14px; font-weight: bold;
}
td.terms_conditions {
	text-align: left; line-height: 110%; font-family: Tahoma; font-size: 11px;
}
td.class_description {
	line-height: 90%; font-family: Tahoma; font-size: 12px;
}
td.class_description_header {
	line-height: 100%; font-family: Tahoma; font-size: 14px; font-weight: bold;
}
td.class_base_info {
	font-family: Tahoma, Verdana; font-size: 14px;
}
td.class_base_info_small {
	font-family: Tahoma, Verdana; font-size: 11px;
}
p {
	font-family: Tahoma, Verdana;
}
td {
	text-align: center; font-family: Tahoma, Verdana; font-size: 12px;
}
th {
	text-align: center; font-family: Tahoma, Verdana; font-size: 14px; font-weight: bold;
}
.page-break {
	display: block; page-break-after: always;
}
#content {
	line-height: 1em;
}
table.class_info_box {
	border-top-color: currentColor; border-top-width: medium; border-top-style: dashed;
}
